<% include partials/header %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<style>
header.jumbotron{
	color:white;
	background:black;
}</style>
<style>
	ans{
		color: red;
	}</style>
<header class="jumbotron"><h1>Contact</h1>
	<br>
	<ul><a class="btn btn-primary btn-large" href="/home"><b>Home</b></a>
<a class="btn btn-primary btn-large" href="/faq"><b>FAQ</b></a>

<a class="btn btn-primary btn-large" href="/register"><b>Sign Up</b></a>

<a class="btn btn-primary btn-large" href="/join"><b>Login</b></a></ul><br></header>
	<style>
	rg{
     float: right;
}
rh{
	float: left;
}
div{
	float:bottom;
	background-color:orange;
}
</style>
<h2><i><b><rh>Queries regarding volunteering? Please read the FAQ <br>page for before you contact us!<br>
	Please call only if absolutely essential.<br>
<ans>Ph: 95-6557-6546</ans></rh>
<br><br><br><br><br>
<center><u>Our office Address:</u><br>
<ans>Kalpataru Road,Opposite to Nehru<br> Petrol Bunk,Bengaluru-560029,India</ans>
<h2><i><b></center><br><br>
<h2><i><b><rg>The best way to reach us is via Email: <br><ans>contact@SVG.ngo</ans></rg>
</b></i></h2><br><br><br><br><br><br><br><br>
<b><center><div>Join and Support our Team <span class="glyphicon glyphicon-thumbs-up"></span></center></div></b>
</html>