<% include partials/header %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<style>
header.jumbotron{
	color:white;
	background:black;
}
b{
	color: red;
}
div{
	float:bottom;
	background-color:orange;
}
</style>
<header class="jumbotron"><h1>SUCCESS</h1>
	<ul><a class="btn btn-primary btn-large" href="/home">Home</a>
<a class="btn btn-primary btn-large" href="/logout">Log out</a>
<a class="btn btn-primary btn-large" href="/contact">Contact Us</a></ul></header>
<h1><b>You have Successfully Registered with SVG-One of India's Independent volunteeer<br><br> organisations enabling over Thousands of  children in Orphanages,Slums and Government Schools across India's Dream of a better future.<br><br>
We will get in Touch with you shortly.<br><br>Read SVG's <a href="faq"><u>FAQ page</u></a> before contacting us.</b></h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<center><h2><div>Join and Support our Team <span class="glyphicon glyphicon-thumbs-up"></span></div></center></h2>
</html>